<div class="row">
  <div class="col-md-12">
   <div id="ctr">
     <h1>Nandemoari Gakko</h1>
     <h2>なんでもあり学校 </h2>
     <h3>Anything Goes School of Martial Arts!</h3>
   </div>
      <% @posts.each do |post| %>
  <div class="media">
     <div>
      <%= image_tag post.featured_url(:thumb) if post.featured? %>
     </div>
     <div class="media-body">
       <h3 class="media-heading">
         <%= link_to post.title, post %>
       </h3>
       <p> <%= markdown(post.body.truncate_words(10)) %>
     </div>
       </div>
<% end %>

  <div class= "row">
    <%= will_paginate @posts %>
  </div>


<% if current_user && current_user.admin? %>
  <div class="col-md-4">
    <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
  </div>
  </div>

<% end %>

