<div class="row">
  <div class="col-md-12">
   <div id="ctr">
     <h1>Nandemoari Gakko</h1>
     <h2>なんでもあり学校 </h2>
     <h3>Anything Goes School of Martial Arts!</h3>
   </div>

      <div class="form-group">
        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Posts" %>
        <div>
          <p> <center><%= submit_tag "Search", class: 'btn btn-success' %></center></p>
        </div>
        <% end %>
      </div>


      <% @posts.each do |post| %>
  <div class="media">
     <div>
      <p> <%= image_tag(post.featured_url(:thumb), :class => "imageBox") if post.featured? %></p>
     </div>
     <div class="media-body">
       <h3 class="media-heading">
         <%= link_to post.title, post %>
       </h3>
       <p> <%= markdown(post.body.truncate_words(10)) %>
     </div>
       </div>
       <hr>
<% end %>
  
  <% if @posts.present? %>

  <div class= "row">
    <%= will_paginate @posts %>
  </div>
  <% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
   <%= link_to "Back to Posts", posts_path %>
   <% end %>

<% if current_user && current_user.admin? %>
  <div class="col-md-4">
    <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
  </div>
  </div>

<% end %>

