 <h1>New Post</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for posts</p>
     <ul>
       <li>Is this necessary?</li>
       <li>Is what you're sharing dope?</li>
       <li>Have you shared it to social media? </li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @post do |f| %>

      <% if @post.errors.any? %>
     <div class="alert alert-danger">
       <h4><%= pluralize(@post.errors.count, "error") %>.</h4>
       <ul>
         <% @post.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
      <%= image_tag(@post.featured_url) if @post.featured? %>
      <div class="form-group">
        <%= f.label :featured %>
        <%= f.file_field :featured %>
        <%= f.hidden_field :featured_cache %>
      </div>
      
      <div class="form-group">

         <%= f.label :title %>
 
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
       </div>
       <div class="form-group">
         <%= f.label :tags %>
         <%= f.text_field :tags, class: 'form-control', placeholder: "Please add appropriate tags, separated by a space" %>
       </div>
       <div class="form-group">
 
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div> 
