<html>
  <head>
    <title>Anything Goes School of Martial Arts</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs" id="mainNav" >
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Blog", posts_path %></li>

      

	<div class="pull-right user-info">
         <% if current_user %>
           <li class="pull-right"> <%= "#{current_user.email}" %>&nbsp;&nbsp;</li>
          <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>&nbsp;&nbsp;</li>
          <li class="pull-right"><%= image_tag current_user.avatar_url(48) %>&nbsp;&nbsp;</li>
           </div>
         <% else %>
          <li class="pull-right"><%= link_to "Sign In", new_user_session_path %>&nbsp;&nbsp;</li>
          <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %>&nbsp;&nbsp;</li>
          </div>
        <% end %>
      </ul>
    
        <% if flash[:notice] %>
         <div class="alert alert-success" role="alert">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning" role="alert">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

      <%= yield %>
    </div>

  </body>
</html>
